@font-face {
  font-family: "SfProDisplay";
  src: url("{% static 'fonts/SF-Pro-Display-Regular.otf' %}") format("truetype");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "SfProDisplay", sans-serif;
}
