{% load static %}

<h2>Список книг</h2>

  <form method="get">
    {{ form.as_p }}
    <button type="submit">Поиск</button>
  </form>

  <ul>
    {% for book in books %}
      <li>
        {% if book.cover_image %}
        <img src="{{ book.cover_image.url }}" alt="Обложка книги" style="max-width: 300px;">
        {% endif %}
        <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
        {{ book.author }}
        {{ book.category }}
        {% if book.publisher %} - {{ book.publisher }}{% endif %}
      </li>
    {% empty %}
      <li>Нет книг, удовлетворяющих выбранным критериям.</li>
    {% endfor %}
  </ul>