{% extends 'base.html' %} {% load static %} {% block content %}
<section class="container mt-3 mb-5">
  <h1>Список книг</h1>
</section>

<section class="container mb-5">
  <!-- filter form -->
  <form class="row g-3" method="get">
    <form method="get" class="row g-3">
      <div class="col-lg-4 col-md-6">{{ form.title }}</div>
      <div class="col-lg-4 col-md-6">{{ form.category }}</div>
      <div class="col-lg-4 col-md-6">{{ form.author }}</div>
      <div class="col-lg-4 col-md-6">{{ form.publisher }}</div>
      <div class="col-lg-4 col-md-6">{{ form.language }}</div>
      <div class="col-lg-4 col-md-6">{{ form.format }}</div>
      <div class="col-lg-4 col-md-6">{{ form.publication_date_from }}</div>
      <div class="col-lg-4 col-md-6">{{ form.publication_date_to }}</div>
      <div class="col-12">
        <button type="submit" class="btn btn-primary">Найти книгу</button>
      </div>
    </form>
  </form>
</section>

<section class="container">
  <div class="row">
    {% for book in books %}
    <div class="col-md-4" style="max-width: 250px">
      <dev class="card h-100">
        {% if book.cover_image %}
        <div
          class="w-100 d-flex justify-content-center border-bottom"
          style="background-color: rgb(195, 195, 195)"
        >
          <img
            src="{{ book.cover_image.url }}"
            class="card-img-top"
            alt="Обложка книги"
          />
        </div>
        {% endif %}
        <div class="card-body">
          <h5 class="card-title">
            <a href="{% url 'book_detail' book.id %}">{{ book.title }}</a>
          </h5>
          <p class="card-text">
            <span> {{ book.author }} {{ book.category }} </span>
            <span>
              {% if book.publisher %} - {{ book.publisher }} {% endif %}
            </span>
          </p>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between align-items-center">
            <div><i class="bi bi-book"></i> <span>1.4K</span></div>
            <div><i class="bi bi-eye"></i> <span>62</span></div>
            <div><i class="bi bi-star"></i> <span>0</span></div>
            <div>
              <i class="bi bi-bookmark"></i>
            </div>
          </div>
        </div>
      </dev>
    </div>
    {% empty %}
    <li>Нет книг, удовлетворяющих выбранным критериям.</li>
    {% endfor %}
  </div>
</section>

{% endblock %}
